<div class="basic-container">

  <form class="container card"
    style="background-color:lightcyan;margin-top: 50px !important; margin-bottom: 50px !important; margin-left: 50px !important;  margin-right: 50px !important;width:80rem"
    [formGroup]="companyDetail" (ngSubmit)="onFormSubmit()">
    <h1 class="mt-2 pt-3">
      <p class="text-center ">CustomerForm</p>
    </h1>
    <div>
      <div class="col-6 justify content center" class="container card mt-2">
        <br>
        <div class="row">
          <div class="col-md-12">
            <p for="exampleFormControlInput1" class="form-Label">Customer Name<span class="star">*</span> </p>
            <input type="text" formControlName="name" class="form-control " placeholder="Enter Customer Name" [class.is-invalid]="
            companyDetail.get('name')?.hasError('required') &&
            submitBtn
          " /> <span *ngIf="
        companyDetail.get('name')?.hasError('required') &&
          submitBtn
        " class="invalid-feedback">Customer Name is Required</span>

          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <p for="exampleFormControlInput1" class="form-Label">Email<span class="star">*</span></p>
            <input type="text" formControlName="email" class="form-control sign" placeholder="Enter Customer Email" [class.is-invalid]="
            companyDetail.get('email')?.hasError('required') &&
            submitBtn 
          " /> <span *ngIf="
        companyDetail.get('email')?.hasError('required') && 
          submitBtn
        " class="invalid-feedback"> Email is Required</span>
        <span *ngIf="
        companyDetail.get('email')?.hasError('pattern') &&
          submitBtn
        " class="invalid-feedback">Email is Invalid</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p for="exampleFormControlInput1" class="form-Label">Phone Number <span class="star">*</span></p>
            <input type="number" formControlName="phone" class="form-control sign" placeholder="Enter Phone Number" [class.is-invalid]="
            companyDetail.get('phone')?.hasError('required') &&
            submitBtn
          " /> 
          <span *ngIf="
          companyDetail.get('phone')?.hasError('required') &&
            submitBtn
          " class="invalid-feedback">mobile number is required</span>
          <span *ngIf="
        companyDetail.get('phone')?.hasError('pattern') &&
          submitBtn
        " class="invalid-feedback">It is not a valid mobile number</span>
        
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p for="exampleFormControlInput1" class="form-Label">Password <span class="star">*</span></p>
            <input type="password" formControlName="password" class="form-control sign" placeholder="Enter Password" [class.is-invalid]="
            companyDetail.get('password')?.hasError('required') &&
            submitBtn
          " /> <span *ngIf="
        companyDetail.get('password')?.hasError('required') &&
          submitBtn
        " class="invalid-feedback">paasword is Required</span>
        
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label for="exampleFormControlInput1" class="form-Label">confirm Password <span
                class="star">*</span></label>
            <input type="password" formControlName="confirm" class="form-control sign" placeholder="Enter confirm Password" [class.is-invalid]="
            companyDetail.get('confirm')?.hasError('required') &&
            submitBtn
          " /> <span *ngIf="
        companyDetail.get('confirm')?.hasError('required') &&
          submitBtn
        " class="invalid-feedback">password not matched </span>
          </div>
        </div>


        <br>
      </div>

      <br>
      <br>
      <br>


      <br>


      <ng-container formArrayName="arrObj">
        <ng-container *ngFor="let control of add().controls; let i = index" [formGroupName]="i">
          <div class="col-6" class="container card mt-2">

            <h1 class="mt-1 ">
              <p class="text-center ">Branch Details</p>
            </h1>

            <div class="row">
              <div class="col-md-12 ">
                <p for="exampleFormControlInput1" class="form-Label">Branch Name <span class="star">*</span></p>
                <input type="text" formControlName="names" class="form-control sign"  placeholder="Enter Customer Name" [class.is-invalid]="
                companyDetail.get('names')?.hasError('required') &&
                submitBtn
              " /> <span *ngIf="
            companyDetail.get('names')?.hasError('required') &&
              submitBtn
            " class="invalid-feedback"> Name is Required</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p for="exampleFormControlInput1" class="form-Label">Email <span class="star">*</span></p>
                <input type="text" formControlName="emails" class="form-control sign"  placeholder="Enter Customer Email" [class.is-invalid]="
                companyDetail.get('emails')?.hasError('required') &&
                submitBtn
              " /> <span *ngIf="
            companyDetail.get('emails')?.hasError('required') &&
              submitBtn
            " class="invalid-feedback"> Email is Required</span>
            <span *ngIf="
            companyDetail.get('emails')?.hasError('pattern') &&
              submitBtn
            " class="invalid-feedback"> Email is Invalid</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p for="exampleFormControlInput1" class="form-Label">Phone Number <span class="star">*</span></p>
                <input type="number" formControlName="number" class="form-control sign"  placeholder="Enter Phone Number" [class.is-invalid]="
                companyDetail.get('number')?.hasError('required') &&
                submitBtn
              " /> <span *ngIf="
            companyDetail.get('number')?.hasError('required') &&
              submitBtn
            " class="invalid-feedback">phone Number is Invalid</span>
            <span *ngIf="
            companyDetail.get('number')?.hasError('pattern') &&
              submitBtn
            " class="invalid-feedback">phone Number is Invalid</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p for="exampleFormControlInput1" class="form-Label">Branch City <span class="star">*</span></p>
                <input type="text" formControlName="city" class="form-control sign "   placeholder="Enter City Name" [class.is-invalid]="
                companyDetail.get('city')?.hasError('required') &&
                submitBtn
              " /> <span *ngIf="
            companyDetail.get('city')?.hasError('required') &&
              submitBtn
            " class="invalid-feedback"> City Name is Required</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p for="exampleFormControlInput1" class="form-Label">Branch Address <span class="star">*</span></p>
                <textarea rows="3" type="text" formControlName="address" class="form-control sign"  placeholder="Enter Branch Address" [class.is-invalid]="
                companyDetail.get('address')?.hasError('required') &&
                submitBtn
              "></textarea>
                <span *ngIf="
              companyDetail.get('address')?.hasError('required') &&
                submitBtn
              " class="invalid-feedback">your Address is Required</span>
              </div>
            </div>
            <br>
            <div class="row">
              <div style="padding: 0px" class="col-md-6">
                <div class="form-check form-check-inline">
                  <label for="exampleFormControlInput1" class="form-Label">Branch Types </label>
                  <input class="form-check-input" type="radio" name="postionRep" id="inlineCheckbox1" value="option1" />
                  <label class="form-check-label " for="inlineCheckbox1">Main Branch :</label>
                </div>
                <div class="form-check form-check-inline ml-2">
                  <input class="form-check-input checkbox-lg" type="radio" name="postionRep" id="inlineCheckbox2"
                    value="option1" />
                  <label class="form-check-label ml-1" for="inlineCheckbox2">Sub Branch :</label>
                </div>

              </div>
            </div>
            <br>
            <label class="form-check-label " for="inlineCheckbox"> Branch Bussiness:</label>

            <div style="padding: 0px" class="col-md-6" *ngFor="let branch of branches">
              <div class="checkrdobtn">
                <input class="rdovstchk" type="checkbox" class="mr-1" [value]="branch.value"
                  (change)="onbranches($event)" />
                <span class="txtdefault fs-16 weight500 text-center">{{
                  branch.name
                  }}</span>
              </div>
            </div>

          </div>
        </ng-container>

      </ng-container>

      <br>


      <div class="mx-auto" style="width: 200px;">

        <button class=" btn border border-primary  btn-block  mr-1" (click)="addAction()">
          +AddBranch
        </button>
        <button type="submit" class="btn btn-primary btn-block"(click)="view()"  >
          Submit
    
        
        </button>

      </div>
    </div>
  </form>
</div>